{% extends "base.html "%}

{% block title %}Reset u pass{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new pass twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my pass" /></p>
        </form>
    {% else %}
        <p>The pass reset link was invalid, possibly it has already been used.
        Please request a new pass reset</p>
    {% endif %}
{% endblock %}